  *,
:before,
:after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6{
  margin:0;
}

p{
  margin:0;
}

html{
  font-size: calc(100vw/1920*10);

}

  @media (max-width: 1024px){
    html{
      font-size: calc(100vw/1740*10);
    }

  }

 body{
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  color: #2A2A2A;
}

.wrapper{
  width:100%;
  overflow: hidden;
}

/*-----------------------header-----------------------*/

.header {
  width: 100%;
}

.header__top {
  margin-left: 14rem;
  margin-right: 13.7rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgba(0, 0, 0, .15);
}

.logo{
  width: 37.8rem;
  height: 5rem;
  margin-top: 2.7rem;
  margin-bottom: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 21.3rem;
  height: 5rem;
}

.logo p{
  width: 14.2rem;
  height: 4rem;
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
}

.head__info{
  width: 20.2rem;
  height: 3.5rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-between;
}

.head__info img{
  width: 3.5rem;
  height: 3.5rem;
}

.head__info p{
  width: 15.7rem;
  height: 3.3rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.head__map {
  position: relative;
  width: 14.2rem;
  height: 1.9rem;
  margin-top: 4.3rem;
  margin-bottom: 4.3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.head__map .map__icon{
  width: 1.2rem;
  height: 1.5rem;
}


.btn__map{
  position: relative;
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 700;
  font-size: 1.1rem;
  line-height:1.5rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}


button.btn__map:after{
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 0.2rem dotted #FD2016;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.head__map:hover .btn__map:after{
  width: 60%;
}

.map__popup{
  visibility: hidden;
  position: absolute;
  width: 40rem;
  height: 40rem;
  top: 4rem;
  left: -12rem;
  transition: 0.2s;
  background-color: #000;
}

.map__popup iframe{
  width: 40rem;
  height: 40rem;
}

.map__popup .close__map{
  display: none;
}

.head__map:hover .map__popup{
    visibility: visible;
    transition: 0.2s;
}

.head__map .map__popup:hover{
    visibility: visible;
    transition: 0.2s;
}

.map__popup.full_width{
  visibility: visible;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left:0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.95);
}

.map__popup.full_width iframe{
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 5vh 5vw;
}

.map__popup.full_width .close__map{
  display: block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 2rem;
  right: 4rem;
  border: none;
  background-color: transparent;
  outline: none;
  z-index: 110;
  cursor: pointer;
}

.head__calc {
  width: 19.3rem;
  height: 3.7rem;
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
  display: flex;
  justify-content: space-between;
}

.head__calc img{
  width: 3.5rem;
  height: 3.5rem;
}

.head__calc a{
  width: 13.7rem;
  text-decoration: none;

}

.head__calc a p{
  position: relative;
  color: #2A2A2A;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.9rem;
  letter-spacing: 0.05em;
}

.head__calc a p:after{
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 0.2rem dotted #FD2016;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.head__calc a:hover p:after{
  width: 60%;
}

.head__messangers {
  width: 12.552083vw;
  height: 1.875vw;
  margin-top: 3.4rem;
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-between;
}

.head__messangers p{
  width: 10.6rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.03em;
}

.head__messangers img{
  width: 3.5rem;
  height: 3.5rem;
}

.head__tel {
  width: 20.1rem;
  height: 6.1rem;
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}


.head__tel__top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1rem;
  letter-spacing: 0.02em;
}

.head__tel__top img{
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.6rem;
}

.head__tel__center{
  width: 20.1rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head__tel__center a{
  font-weight: 700;
  font-size: 2rem;
  line-height: 1rem;
  color: #2A2A2A;
  text-decoration: none;
}

.head__tel__center img{
  width: 0.9rem;
  height: 0.5rem;
  margin-left: 0.6rem;
}

.head__tel__bottom{
  position: relative;
  width: 11.1rem;
  height: 1.7rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.1rem;
  letter-spacing: 0.05em;
  outline: none;
  cursor: pointer;
}

.head__tel__bottom:after{
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 0.2rem dotted #FD2016;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.head__tel__bottom:hover::after{
  width: 60%;
}

.head__tel__bottom img{
  width: 0.6rem;
  height: 0.6rem;
  margin-left: 0.6rem;
}

.burger{
  display: none;
}

/*-----------------------nav-----------------------*/

.nav {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}

.nav ul{
  margin-left: 14rem;
  margin-right: 13.7rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav a{
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2A2A2A;
  transition: 0.5s;
}

.nav a:hover{
  color: #CB2720;
  transition: 0.5s;
}

.nav__inner{
  display: none;
}

.menu__320{
  display: none;
}

/*-----------------------section intro-----------------------*/

.intro{
  display: flex;
  justify-content: space-between;
}

.scroll__down{
  display: inline;
  width: 14rem;
  height: 68.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mouse_el{
  position: relative;
  margin-left: 5.8rem;
  margin-right: 6rem;
}

.mouse_el .mouse {
  width: 1.837rem;
  height: 3.2rem;
}

.mouse_el .circle{
  position: absolute;
  width: 0.391rem;
  height: 0.391rem;
  top: 1.1rem;
  left: 0.75rem;
  animation: red-circle 2s linear infinite;
}

@keyframes red-circle{
  0%{
    top: 1.1rem;
    }
  80%{
    top: 2.2rem;
  }
  100%{
    top: 2.2rem;
  }
}


.scroll__down__text {
  position: relative;
  margin-top: 2.5rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  color: #EFEFEF;
  transform: rotate(-90deg);
}


.scroll__down__text:before {
  position: absolute;
  content: "";
  width: 48.8rem;
  height: 0.15rem;
  background-color: #EFEFEF;
  top:1.1rem ;
  right: 17rem;
}

.intro__content {
  width: 178rem;
  height: 91.1rem;
  background-image: linear-gradient(180deg, rgba(22, 26, 30, 0.75) 0%, rgba(22, 26, 30, 0.2925) 36.3%), linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%), url(img/bg_intro.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 178rem 91.1rem;
}

.intro_infoGrup{
  width: 101.1rem;
  padding: 12.6rem 0 12.4rem 11.5rem;
}
.intro__h1 {
  margin-bottom: 4.5rem;
  font-weight: 400;
  font-size: 6.5rem;
  line-height: 9.5rem;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.intro__text {
  margin-bottom: 4.5rem;
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 4.5rem;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.intro__btns{
  display: flex;
}

.intro__btn {
  position: relative;
  width: 40rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.2rem;
  border-radius: 500px;
  color: #fff;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.intro__btn:hover::after{
  opacity: 0;
}

.intro__btn:after {
    content: "";
    width:11.5rem;
    height: 14rem;
    position: absolute;
    top: 50%;
    left: -50%;
    background-image: url(img/btn-blick.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: btn_blick 5s linear infinite;
    animation: btn_blick 5s linear infinite;
    -webkit-transition: .5s;
    transition: .5s;
}

@keyframes btn_blick{
  0%{left: -50%}
  100%{left:110% }
}

.intro__btn_red{
  padding: 2.5rem 5.498rem 2.6rem 5.4rem;
  background-color:#FD2016;
  transition: 0.5s;
}

.intro__btn_red:hover{
  background-color:#FD3C32;
  transition: 0.5s;
}

.intro__btn_red img{
  width: 2.202rem;
  height:2.195rem;
  transition: 0.5s;
}

.intro__btn_red:hover img{
  transform: rotate(45deg);
  transition: 0.5s;
}

.intro__btn_red div{
  width: 25.5rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.04em;
}

.intro__btn_black{
  padding: 3.2rem 3.3rem 3.3rem 3.1rem;
  background-color: rgba(0,0,0,0.45);
  border: 0.1rem solid #FFFFFF;
  transition: 0.5s;
}

.intro__btn_black:hover{
    background-color: rgba(0,0,0,0.80);
    transition: 0.5s;
}

.intro__btn_black img{
  width: 3rem;
  height:3rem;
}

.intro__btn_black div{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
}


.intro__items {
  width: 152.4rem;
  height: 15.3rem;
  margin-left: 11.5rem;
  margin-right: 14.1rem;
  display: flex;
  justify-content: space-between;
}
.intro__item {
  padding-right: 9.5rem;
  padding-left: 9.5rem;
  border-right: 0.1rem solid rgba(255,255,255, 0.25);
}

.intro__item:first-child {
  padding-left: 0;
}

.intro__item:last-child {
  padding-right: 0;
  border-right: none;
}

.intro__items img{
  width: 1.32rem;
  height: 0.94rem;
  margin-bottom: 1.94rem;
}

.intro__items p{
  font-weight: 400;
  font-size: 1.7rem;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.intro__items p span{
  font-weight: 700;
}

/*--------------------popup-form----------------------*/

.popup__form__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.95);
  color: #FFFFFF;
}

.popup__form__container.disabled{
  display: none;
}

.popup__form__inner {
  position: relative;
  width: 50rem;
  height: 60rem;
  padding: 4.5rem 6.8rem 7.5rem;
  background-color: #21211F;
}
.exit__btn {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 3.5rem;
  right: 3.7rem;
  cursor: pointer;
}

.exit__btn img{
  width: 2rem;
  height: 2rem;
}

.popup__form__inner h1{
  margin-bottom: 1.6rem;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-align: center;

}

.form__info {
  margin-bottom: 3.4rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;

}

.form__text {
  margin-bottom: 1.2rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  text-align: center;
}

.popup__form__inner input[type="tel"]{
  width: 36.3rem;
  height: 8.5rem;
  margin-bottom: 2.5rem;
  padding: 2.8rem 4.7rem 2.8rem 7.5rem;
  border: none;
  background: #FAFAFA;
  box-shadow: inset 0px 0px 21px rgba(255, 255, 255, 0.4);
  border-radius: 73px;

  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  align-items: center;
  letter-spacing: 0.03em;
}

.popup__form__inner .btn__submit{
  width: 36.3rem;
  height: 8.5rem;
  margin-bottom: 2.5rem;
  background: #FD2016;
  border: none;
  border-radius: 500px;
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.popup__form__inner .btn__submit:disabled{
  opacity: 50%;
}

.checkbox__block{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid #FD2016;
  background-color: transparent;
  border-radius: 5px;

  cursor: pointer;
}

.checkbox__block.checked{
  background-color: #FD2016;
}

.checkbox__block.checked img{
  visibility: visible;
}

.checkbox__block input[type="checkbox"]{
  width: 0;
  height: 0;
  background-color: transparent;
  color: transparent;
  border: none;
}

.checkbox__block img{
  width: 0.8rem;
  height: 0.6rem;
  visibility: hidden;
}

.form__checkbox__text {
  display: flex;
  justify-content: center;

}

.form__checkbox__text p{
  width: 31.9rem;
  margin-left: 1.4rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #FFFFFF;
}

.form__checkbox__text p a{
  color: #FD2016;
  text-decoration: none;
}


/*--------------------------------@media-----------------------*/

@media (max-width: 992px){


html{
  font-size: calc(100vw/320*10);
}

/*----------------header-----------------*/

.header {
  position: fixed;
  z-index: 120;
  padding: 0 2.2rem;
}

.header.fixed {
  background-color: #fff;
}

.header.fixed .head__tel,
.header.fixed .head__tel__center a,
.header.fixed .head__tel__bottom{
  color: #282828;
}

.header__top {
  position: relative;
  width: 100%;
  margin: 0;
  border-bottom: none;
  z-index: 130;
}

.logo,
.logo img{
  position: relative;
  width: 9.2rem;
  height: 2.2rem;
  z-index: 130;
}

.logo{
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}


.logo p,
.head__info,
.head__map,
.map__icon,
.btn__map,
.map__popup,
.close__map,
.head__calc,
.head__messangers,
.nav {
  display: none;
}

.head__tel {
  position: relative;
  width: 10.5rem;
  height: 4.6rem;
  color: #fff;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  z-index: 130;
}
.head__tel__top {
  font-size: 0.6rem;
}

.head__tel__center{
  width: 10.5rem;
}

.head__tel__center a{
  font-size: 1.2rem;
  color: #fff;
}
.head__tel__center img{
  display: none;
}

.head__tel__bottom {
  width: 6.3rem;
  font-size: 0.6rem;
  color: #fff;
}

.burger{
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger img{
  position: relative;
  width: 1.475rem;
  height: 1.361rem;
  z-index: 130;
}

.black_burger{
display: none;
}

.header.fixed .black_burger{
  display: block;
}

.header.fixed .white_burger{
  display: none;
}

/*----------------intro-----------------*/

.intro {
  justify-content: center;
}
.scroll__down {
  display: none;
}

.intro__content {
  width: 100%;
  height: auto;
  background-image: linear-gradient(180deg, rgba(22, 26, 30, 0.75) 0%, rgba(22, 26, 30, 0.2925) 36.3%), linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%), url(img/bg_intro.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto 51.1rem;
}

.intro_infoGrup {
  width: 100%;
  height: 51.1rem;
  padding: 10rem 2.3rem 4.9rem;
}
.intro__h1 {
  font-size: 2rem;
  line-height: 2.9rem;
  margin-bottom: 2.8rem;
}

.intro__text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 2.9rem;
}

.intro__btns {
  flex-wrap: wrap;
}

.intro__btn {
  width: 27.6rem;
  height: 6rem;
  font-size: 1rem;
  margin-right:0;
  margin-top: 1.5rem;
}

button.intro__btn div{
  font-size: 1rem;
}

button.intro__btn img{
  display: none;
}
button.intro__btn_red div{
  line-height: 1.5rem;
}

button.intro__btn_black div{
  line-height: 2.5rem;
}

button.intro__btn_black div span{
  color: #20C863;
}

.intro__items {
  width: 100%;
  height: auto;
  padding: 1.5rem 2rem;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto auto;
  grid-gap: 1rem;
}


div.intro__item {
  padding: 0;
}

div.intro__item p{
  color:  #282828;
  font-size: 1rem;
  line-height: 1.5rem;
}

div.intro__item img{
  width: 1.32rem;
  height: 0.92rem;
  margin-bottom: 0.64rem;
}

div.intro__item:nth-child(3){
  grid-column-start: 2;
  grid-row-start: 1;
}

div.intro__item:nth-child(4){
  grid-column-start: 1;
  grid-row-start: 2;
}

/*-----------------popup form------------------*/

.popup__form__container {
  z-index: 150;
}
.popup__form__inner {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 3rem 2rem 2rem;
  z-index: 150;
}
.exit__btn {

  top: 2rem;
  right: 2rem;
}

.exit__btn  img{
  width: 1.5rem;
  height: 1.5rem;
}

.popup__form__inner h1{
  font-size: 1.8rem;
}

.form__info {
  font-size: 1.4rem;
}
.form__text {
  font-size: 1.2rem;
}
.popup__form__inner input.input__tel {
  width: 100%;
  height: 5.5rem;
  padding: 0 0 0 2.5rem;

}

.popup__form__inner .btn__submit {
  width: 100%;
  height: 5.5rem;
  font-size: 1.4rem;

}
.form__checkbox__text p{
  width: 23rem;
  font-size: 1rem;
}
.checkbox__block {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
}
.checked {}
.input__checkbox {}


/*----------------burger-open(menu)-----------------*/

.header.burger-open{
  position: absolute;
  padding-bottom:  11rem;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: auto;
  background-color: #fff;
}

.header.burger-open .header__top{
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 2.2rem;
  background-color: #fff;

}

.header.burger-open .head__tel,
.header.burger-open .head__tel__center a,
.header.burger-open .head__tel__bottom{
  color: #282828;
}

.header.burger-open .black_burger{
  display: block;
}

.header.burger-open .white_burger{
  display: none;
}

.header.burger-open .nav {
  padding-bottom: 0;
  padding-top: 8.9rem;
  display: block;
  overflow: hidden;
}

.header.burger-open .nav ul{
  padding-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

.header.burger-open .nav a{

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #2A2A2A;
  transition: 0.5s;
}

.header.burger-open .nav li{
  margin-bottom: 2.8rem;
}

.header.burger-open .nav  ul li:nth-child(1){
  display: none;
}

.header.burger-open .nav  ul li:nth-child(2){
  margin-bottom: 0;
}


.header.burger-open .nav a:hover{
  color: #CB2720;
  transition: 0.5s;
}

.header.burger-open .nav__inner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin:1.4rem 0 1.8rem;
}

.header.burger-open .nav .nav__inner a{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: #929292;
}

.header.burger-open .menu__320{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.head__info-320{
  margin-bottom: 3.8rem;
  width: 100%;
  height: 6.5rem;
  display: flex;
  justify-content: flex-start;
}

.head__info-320 img{
  width: 6.5rem;
  height: 6.5rem;
  margin-right: 1.8rem;
}

.head__info-320 p{
  width: auto;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0.05em;
}

.head__info-320 p span{
  position: relative;
  font-weight: 800;
  line-height: 1.8rem;
  font-size: 1.35rem;
}

.head__info-320 p span:after{
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 0.2rem dotted #FD2016;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.head__calc-320{
  margin-bottom: 3.8rem;
  width: 100%;
  height: 6.6rem;
  display: flex;
  justify-content: flex-start;
}

.head__calc-320 img{
  width: 6.6rem;
  height: 6.6rem;
  margin-right: 1.9rem;
}

.head__calc-320 a p{
  width: 14.4rem;
  height: auto;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0.05em;
  text-transform: none;
}

.head__calc-320 a p span{
  position: relative;
  font-weight: 800;
  line-height: 1.9rem;
}

.head__calc-320 a p span:after{
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 0.2rem dotted #FD2016;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.head__messangers-320{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.head__messangers-320 > img{
  width: 6.5rem;
  height: 6.5rem;
  margin-right: 1.8rem;
}

.messangers__inner{
  width: 15.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.messangers__inner p{
  width: 15.4rem;
  margin-bottom: 1.3rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.03em;
}

.messangers__inner p span{
  font-weight: 800;
}

.messangers__inner img{
  width: 3.182rem;
  height: 3.182rem;
  margin-right: 0.636rem;
}

}

